@import "tailwindcss";

:root{

--background:#09090f;
--card:#11111b;
--purple:#7c3aed;
--purple2:#8b5cf6;
--text:#ffffff;
}

body{

background:var(--background);
color:white;
font-family:system-ui;
}
.swiper-button-next,
.swiper-button-prev{
color:white!important;
}

.swiper-pagination-bullet{
background:white!important;
opacity:.5;
}

.swiper-pagination-bullet-active{
background:#8b5cf6!important;
width:28px;
border-radius:20px;
opacity:1;
transition:.3s;
}